<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .sidebar .nav-link:hover,
        .navbar .nav-link:hover {
            background-color: #0d6efd;
            color: white;
        }

        .main-content {
            margin-top: 56px;
            padding: 20px;
            flex: 1;
        }

        .content-container {
            display: flex;
            margin-top: 56px;
            height: calc(100vh - 56px);
        }

        .user-table {
            padding: 15px;
            border-radius: 5px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body onload="showAdmin()">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><b th:text="${username}"></b> With roles <b
                th:text="${user.getAuthorities()}"></b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" style="margin: 0;">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button type="submit" class="nav-link btn btn-link"
                                style="color: white; text-decoration: none;">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content-container">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebar" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li sec:authorize="hasRole('ADMIN')">
                <a href="#" class="nav-link" onclick="showAdmin()">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Admin
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" onclick="showUser()">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    User
                </a>
            </li>
        </ul>
    </div>

    <div class="main-content" >
        <div id="adminContent" style="display: none;">
            <h3>Admin Panel</h3>
            <div sec:authorize="hasRole('ADMIN')">
                <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">User table</a>
                    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                       aria-controls="nav-profile" aria-selected="false">New User</a>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.secondname}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.username}"></td>
                                <td>
                                    <span th:each="role : ${user.roles}" th:text="${role.name} + ' '"></span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#editUserModal"
                                            th:attr="data-user-id=${user.id}, data-user-name=${user.name}, data-user-secondname=${user.secondname},
                                                     data-user-age=${user.age}, data-user-username=${user.username}"
                                            onclick="fillEditModal(this)">Edit
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#deleteUserModal"
                                            th:attr="data-user-id=${user.id}, data-user-name=${user.name}, data-user-secondname=${user.secondname},
                     data-user-age=${user.age}, data-user-username=${user.username}"
                                            onclick="fillDeleteModal(this)">Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                         style="border: 2px solid #dddddd; border-radius: 5px;">
                        <div style="background: #f2f2f2; padding: 15px; border-bottom: 2px solid #dddddd; ">
                            <h3>Add new user</h3>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col" style="padding: 15px">
                                <form th:action="@{/admin/add}" method="post" class="mt-4">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                                    <div class="mb-3">
                                        <label for="newName" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="newName" name="name" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="newSecondname" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" id="newSecondname" name="secondname"
                                               required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="newAge" class="form-label">Age</label>
                                        <input type="number" class="form-control" id="newAge" name="age" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="newUsername" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="newUsername" name="username" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="newPassword" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="newPassword" name="password"
                                               required>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Roles</label>
                                        <div th:each="role : ${allRoles}">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" name="roleIds"
                                                       th:value="${role.id}" th:id="'newRole-' + ${role.id}">
                                                <label class="form-check-label" th:for="'newRole-' + ${role.id}"
                                                       th:text="${role.name}"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success">Add new user</button>
                                </form>
                            </div>

                            <div class="col"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="userContent" style="display: none;">
            <h2>User Information-page</h2>
            <div style="border: 2px solid #dddddd; border-radius: 5px;">
                <div style="background: #f2f2f2; padding: 15px; border-bottom: 2px solid #dddddd">
                    <h3>About User</h3>
                </div>
                <div class="user-table">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>e-mail</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="background: #dddddd">
                            <td th:text="${id}"></td>
                            <td th:text="${name}"></td>
                            <td th:text="${secondname}"></td>
                            <td th:text="${age}"></td>
                            <td th:text="${username}"></td>
                            <td><span th:text="${user.getAuthorities()}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для редактирования -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/update}" method="post">
                    <div class="mb-3">
                        <label for="editId" class="form-label">ID</label>
                        <input type="text" class="form-control" id="editId" name="id" readonly/>
                    </div>

                    <div class="mb-3">
                        <label for="editName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="editName" name="name" required/>
                    </div>
                    <div class="mb-3">
                        <label for="editSecondname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="editSecondname" name="secondname" required/>
                    </div>
                    <div class="mb-3">
                        <label for="editAge" class="form-label">Age</label>
                        <input type="number" class="form-control" id="editAge" name="age" required/>
                    </div>
                    <div class="mb-3">
                        <label for="editUsername" class="form-label">Email</label>
                        <input type="text" class="form-control" id="editUsername" name="username" required/>
                    </div>
                    <div class="mb-3">
                        <label for="editPassword" class="form-label">New Password (optional)</label>
                        <input type="password" class="form-control" id="editPassword" name="password"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Roles</label>
                        <div th:each="role : ${allRoles}">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="roleIds"
                                       th:value="${role.id}" th:id="'role-' + ${role.id}">
                                <label class="form-check-label" th:for="'role-' + ${role.id}"
                                       th:text="${role.name}"></label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для удаления -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/delete}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="mb-3">
                        <label for="deleteId" class="form-label">ID</label>
                        <input type="text" class="form-control" id="deleteId" name="id" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="deleteName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteSecondname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="deleteSecondname" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteAge" class="form-label">Age</label>
                        <input type="number" class="form-control" id="deleteAge" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteUsername" class="form-label">Email</label>
                        <input type="text" class="form-control" id="deleteUsername" readonly>
                    </div>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showAdmin() {
        document.getElementById('adminContent').style.display = 'block';
        document.getElementById('userContent').style.display = 'none';
    }

    function showUser() {
        document.getElementById('adminContent').style.display = 'none';
        document.getElementById('userContent').style.display = 'block';
    }

    function fillEditModal(button) {
        const userId = button.getAttribute('data-user-id');
        const userName = button.getAttribute('data-user-name');
        const userSecondname = button.getAttribute('data-user-secondname');
        const userAge = button.getAttribute('data-user-age');
        const userUsername = button.getAttribute('data-user-username');
        const userRoles = button.getAttribute('data-user-roles') ? button.getAttribute('data-user-roles').split(',') : [];

        document.getElementById('editId').value = userId;
        document.getElementById('editName').value = userName;
        document.getElementById('editSecondname').value = userSecondname;
        document.getElementById('editAge').value = userAge;
        document.getElementById('editUsername').value = userUsername;
        document.getElementById('editPassword').value = ''; // Очищаем пароль

        const roleSelect = document.getElementById('editRoles');
        Array.from(roleSelect.options).forEach(option => {
            option.selected = userRoles.includes(option.value);
        });
    }

    function fillDeleteModal(button) {
        const userId = button.getAttribute('data-user-id');
        const userName = button.getAttribute('data-user-name');
        const userSecondname = button.getAttribute('data-user-secondname');
        const userAge = button.getAttribute('data-user-age');
        const userUsername = button.getAttribute('data-user-username');

        document.getElementById('deleteId').value = userId;
        document.getElementById('deleteName').value = userName;
        document.getElementById('deleteSecondname').value = userSecondname;
        document.getElementById('deleteAge').value = userAge;
        document.getElementById('deleteUsername').value = userUsername;
    }


</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>